.contactSection {
  /* width: clamp(290px, 85vw, 800px); */
  max-width: 800px;
  padding-top: 30px;
}

.contactSection h2 {
  text-align: center;
  margin-bottom: 30px;
}
.contactSection form {
  margin-bottom: 30px;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 5px;
}
.contactSection form input, .contactSection form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contactSection form textarea {
  height: 200px;
}

.contactSection input[type="submit"]:hover {
  cursor: pointer;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  .contactSection form {
    background: #333;
  }
  .contactSection form input, .contactSection form textarea {
    border: 1px solid #555;
  }
}
