.contactSection h2 {
  text-align: center;
  margin-bottom: 30px;
}
.contactSection form {
  width: clamp(280px, 50%, 500px);
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 5px;
}
.contactSection form input, .contactSection form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  .contactSection form {
    background: #333;
  }
  .contactSection form input, .contactSection form textarea {
    border: 1px solid #555;
  }
}
