.featuresSection {
  padding: 50px 0;
  width: clamp(300px, 90%, 1200px);
}

.featuresSection h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.boxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 15px;
  place-items: center;
}

.featureBox {
  max-width: 300px;
  padding: 10px 20px;
  height: 100%;
  text-align: center;
  background: #F5F5F5;
  border-radius: 5px;
}

.featureBox h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.featureBox p {
  font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  .featureBox {
    background: #222;
  }
}
