.featuresSection {
  padding: 50px 0;
  width: clamp(300px, 90%, 1200px);
}

.featuresSection h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.boxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 15px;
  place-items: center;
}
