.container {
  padding: 0 clamp(15px,3.6vw,2rem);
}

.main {
  min-height: 100vh;
  margin-top: 70px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.logoContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.brand {
  font-size: 40px;
  padding-top: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 600px) {
  .logoContainer {
    padding-left: 15px;
  }
}
