html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: clamp(18px, 5vw, 20px);
	scroll-behavior: smooth !important;
  --white: #ffffff;
  --black: #010001ff;
  --blue: #1987F1ff;
  --blue-green: #2392beff;
  --persian-green: #2d9d8bff;
  --green-pigment: #37a858ff;
  --yellow-green: #40B225ff;
  --citron: #9ea61eff;
  --yellow-orange: #FB9916ff;
  --windsor-tan: #9C5108ff;
  --gradient-colors: var(--blue-green), var(--persian-green), var(--green-pigment), var(--yellow-green), var(--citron);
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto !important;;
	}
}

* {
  scroll-behavior: inherit !important;
}


a {
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

button {
  background-image: linear-gradient(90deg, var(--gradient-colors));
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  transition: background 0.2s ease;
}

button:hover {
  cursor: pointer;
}

details summary {
  cursor: pointer;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-50px) rotateY(45deg);
  transition: opacity var(--animation-time) ease, filter var(--animation-time) ease, transform var(--animation-time) ease;
}

.show {
  --animation-time: 0.3s;
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: opacity var(--animation-time) ease, filter var(--animation-time) ease, transform var(--animation-time) ease;
}

@media screen and (min-width: 500px) {
  .hidden {
    --animation-time: 0.8s;
    transform: translateX(-200px);
  }

  .show {
    --animation-time: 0.8s;
  }
}
